@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h3 class="display-4">Hoşgeldiniz</h3>
    <h4>Kayıtlı aktiviteleri görmek için ve yeni aktivite eklemek için <a href="https://localhost:44308/Managers">tıklayın.</a></h4>
</div>
